body{
	color: #696969;
}
.box{
	padding-top: 20px;
}
.main-nav > ul > li > a:hover, .main-nav > ul > li:hover > a, .main-nav > ul > li ul a:hover, .main-nav > ul > li.current_page_item > a, .main-nav > ul > li.current_page_parent > a{
	background-color: #4097e4; 
}

/**/
/*Header*/
/**/

.header-bar .header-meta{
	color: #000;
	letter-spacing: -0.5px;
	font-size: 0.7em;
}
.header-bar #menu-top-menu #menu-item-573,
.header-bar #menu-top-menu #menu-item-575,
.header-bar #menu-top-menu #menu-item-576{
	float: right;
}
#undefined-sticky-wrapper > .sticky-bar > div.container{
	padding-top: 0.2em;
	padding-bottom: 0.5em;
}
#undefined-sticky-wrapper > .sticky-bar #menu-main-menu li a{
	font-weight: 400;
	padding-left: 1em;
	padding-right: 1em;
}
#undefined-sticky-wrapper img[alt="logo"]{
	max-height: 60px;
}



/**/
/*Footer*/
/**/
footer .wpb_content_element h4{
	color: #6f6f6f;
}
footer .big-footer{
	padding-bottom: 0px;
}
footer .box{
	padding-top: 10px;
}
.thong-tin-lien-he ul{
	/*padding: 0px;*/
} 
.thong-tin-lien-he ul li{
	list-style-type: none;
	padding-bottom: 10px;
}
.thong-tin-lien-he ul li a{
	color: #6f6f6f !important;
}
.thong-tin-lien-he ul li a i{
	padding-right: 5px;
}
.thong-tin-lien-he .social-links a{
	width: 40px;
	height: 40px;
}
.thong-tin-lien-he .social-links i{
	color: #fff !important;
}
.recent-post-list{
	padding: 5%;
	background-color: #fff;
}
.recent-post-list li{
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
.recent-post-list h2{
	display: none;
}

.lien-he #contact-from > p{
	margin-bottom: 2px !important;
}


.list-recent-news .vc_grid-item-mini{
	background-color: #f4f4f4;
}
.list-recent-news .vc_grid-item-mini .vc_gitem-animated-block{
	width: 30%;
	float: left;
	text-align: center;
}
.list-recent-news .vc_grid-item-mini .vc_gitem-animated-block img{
	max-height: 60px;
}
.list-recent-news .vc_grid-item-mini .vc_gitem-col{
	padding-bottom: 0px;
}
.list-recent-news .vc_grid-item-mini .vc_gitem-zone-c{
	width: 70%;
	float: left;
}
.list-recent-news .vc_grid-item-mini .vc_gitem-zone-c h4{
	margin-top: 0px;
}
.list-recent-news .vc_grid-item-mini .vc_gitem-zone-c .vc_btn3-container{
	display: none;
}


/**/
/*Product*/
/**/

body.single-product .room-disponibility{
	display: none;
}
body.single-product label[for="pa_chieu-cao"]{
	line-height: 18px;
	color: #6f6f6f;
	text-align: right;
}

body.woocommerce-checkout .create-account{
	display: none;
}

.woocommerce-store-notice.demo_store,
label[for="order_comments"],
body.woocommerce-cart.woocommerce-page .text-dark-blue.text-center.fancy-heading.vc_custom_heading.wpb_content_element{
	display: none !important; 
}




/**/
/*Page*/
/**/

@media screen and (min-width: 992px){
	body.page .menu-7-event{
		width: 100%;
	}
	body.page .menu-7-event li{
		width: 14.2857%;
	}
	body.page .menu-7-event li a{
		width: 100%;
		text-align: center;
		color: #fff;
		background: #e48d40;
	}
	body.page .menu-7-event li a:hover,
	body.page .menu-7-event li.current_page_item a{
		background: #4097e4;
	}
}