
/* Icons
   ========================================================================== */

@font-face { 
  font-family: "Ionicons"; 
  src: url("../fonts/ionicons.eot?v=1.5.2");
  src: url("../fonts/ionicons.eot?v=1.5.2#iefix") format("embedded-opentype"), 
       url("../fonts/ionicons.ttf?v=1.5.2") format("truetype"), 
       url("../fonts/ionicons.woff?v=1.5.2") format("woff"), 
       url("../fonts/ionicons.svg?v=1.5.2#Ionicons") format("svg"); 
  font-weight: normal;
  font-style: normal;
}

[class*="ico-"] {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-1:before { content: "\f101"; }
.ico-2:before { content: "\f100"; }
.ico-3:before { content: "\f2c7"; }
.ico-4:before { content: "\f2c6"; }
.ico-5:before { content: "\f2c8"; }
.ico-6:before { content: "\f2c9"; }
.ico-7:before { content: "\f2ca"; }
.ico-8:before { content: "\f2cb"; }
.ico-9:before { content: "\f2cc"; }
.ico-10:before { content: "\f30f"; }
.ico-11:before { content: "\f2cd"; }
.ico-12:before { content: "\f2ce"; }
.ico-13:before { content: "\f2cf"; }
.ico-14:before { content: "\f2d0"; }
.ico-15:before { content: "\f2d1"; }
.ico-16:before { content: "\f2d2"; }
.ico-17:before { content: "\f2d3"; }
.ico-18:before { content: "\f2d4"; }
.ico-19:before { content: "\f2d5"; }
.ico-20:before { content: "\f2d6"; }
.ico-21:before { content: "\f2d7"; }
.ico-22:before { content: "\f2d8"; }
.ico-23:before { content: "\f2d9"; }
.ico-24:before { content: "\f2da"; }
.ico-25:before { content: "\f2db"; }
.ico-26:before { content: "\f2dc"; }
.ico-27:before { content: "\f2dd"; }
.ico-28:before { content: "\f310"; }
.ico-29:before { content: "\f2de"; }
.ico-30:before { content: "\f2df"; }
.ico-31:before { content: "\f2e0"; }
.ico-32:before { content: "\f2e1"; }
.ico-33:before { content: "\f2e2"; }
.ico-34:before { content: "\f2e3"; }
.ico-35:before { content: "\f2e4"; }
.ico-36:before { content: "\f2e5"; }
.ico-37:before { content: "\f2e6"; }
.ico-38:before { content: "\f2e7"; }
.ico-39:before { content: "\f2e8"; }
.ico-40:before { content: "\f2e9"; }
.ico-41:before { content: "\f2ea"; }
.ico-42:before { content: "\f2eb"; }
.ico-43:before { content: "\f2ec"; }
.ico-44:before { content: "\f2ed"; }
.ico-45:before { content: "\f2ee"; }
.ico-46:before { content: "\f2ef"; }
.ico-47:before { content: "\f2f0"; }
.ico-48:before { content: "\f2f1"; }
.ico-49:before { content: "\f2f2"; }
.ico-50:before { content: "\f2f3"; }
.ico-51:before { content: "\f2f4"; }
.ico-52:before { content: "\f2f5"; }
.ico-53:before { content: "\f2f6"; }
.ico-54:before { content: "\f2f7"; }
.ico-55:before { content: "\f2f8"; }
.ico-56:before { content: "\f2fa"; }
.ico-57:before { content: "\f2f9"; }
.ico-58:before { content: "\f2fb"; }
.ico-59:before { content: "\f311"; }
.ico-60:before { content: "\f2fc"; }
.ico-61:before { content: "\f2fd"; }
.ico-62:before { content: "\f2fe"; }
.ico-63:before { content: "\f2ff"; }
.ico-64:before { content: "\f300"; }
.ico-65:before { content: "\f301"; }
.ico-66:before { content: "\f302"; }
.ico-67:before { content: "\f303"; }
.ico-68:before { content: "\f312"; }
.ico-69:before { content: "\f304"; }
.ico-70:before { content: "\f305"; }
.ico-71:before { content: "\f313"; }
.ico-72:before { content: "\f102"; }
.ico-73:before { content: "\f103"; }
.ico-74:before { content: "\f104"; }
.ico-75:before { content: "\f105"; }
.ico-76:before { content: "\f25e"; }
.ico-77:before { content: "\f25f"; }
.ico-78:before { content: "\f260"; }
.ico-79:before { content: "\f261"; }
.ico-80:before { content: "\f262"; }
.ico-81:before { content: "\f106"; }
.ico-82:before { content: "\f107"; }
.ico-83:before { content: "\f108"; }
.ico-84:before { content: "\f263"; }
.ico-85:before { content: "\f264"; }
.ico-86:before { content: "\f265"; }
.ico-87:before { content: "\f266"; }
.ico-88:before { content: "\f109"; }
.ico-89:before { content: "\f10a"; }
.ico-90:before { content: "\f10b"; }
.ico-91:before { content: "\f267"; }
.ico-92:before { content: "\f268"; }
.ico-93:before { content: "\f10c"; }
.ico-94:before { content: "\f10d"; }
.ico-95:before { content: "\f10e"; }
.ico-96:before { content: "\f314"; }
.ico-97:before { content: "\f10f"; }
.ico-98:before { content: "\f110"; }
.ico-99:before { content: "\f111"; }
.ico-100:before { content: "\f112"; }
.ico-101:before { content: "\f113"; }
.ico-102:before { content: "\f114"; }
.ico-103:before { content: "\f115"; }
.ico-104:before { content: "\f269"; }
.ico-105:before { content: "\f26a"; }
.ico-106:before { content: "\f116"; }
.ico-107:before { content: "\f315"; }
.ico-108:before { content: "\f26b"; }
.ico-109:before { content: "\f26c"; }
.ico-110:before { content: "\f2be"; }
.ico-111:before { content: "\f26d"; }
.ico-112:before { content: "\f117"; }
.ico-113:before { content: "\f118"; }
.ico-114:before { content: "\f119"; }
.ico-115:before { content: "\f316"; }
.ico-116:before { content: "\f11b"; }
.ico-117:before { content: "\f11a"; }
.ico-118:before { content: "\f11c"; }
.ico-119:before { content: "\f11e"; }
.ico-120:before { content: "\f11d"; }
.ico-121:before { content: "\f11f"; }
.ico-122:before { content: "\f122"; }
.ico-123:before { content: "\f120"; }
.ico-124:before { content: "\f121"; }
.ico-125:before { content: "\f123"; }
.ico-126:before { content: "\f124"; }
.ico-127:before { content: "\f125"; }
.ico-128:before { content: "\f126"; }
.ico-129:before { content: "\f127"; }
.ico-130:before { content: "\f26e"; }
.ico-131:before { content: "\f12a"; }
.ico-132:before { content: "\f128"; }
.ico-133:before { content: "\f129"; }
.ico-134:before { content: "\f317"; }
.ico-135:before { content: "\f12b"; }
.ico-136:before { content: "\f271"; }
.ico-137:before { content: "\f26f"; }
.ico-138:before { content: "\f270"; }
.ico-139:before { content: "\f272"; }
.ico-140:before { content: "\f273"; }
.ico-141:before { content: "\f12c"; }
.ico-142:before { content: "\f274"; }
.ico-143:before { content: "\f275"; }
.ico-144:before { content: "\f318"; }
.ico-145:before { content: "\f12d"; }
.ico-146:before { content: "\f12f"; }
.ico-147:before { content: "\f12e"; }
.ico-148:before { content: "\f130"; }
.ico-149:before { content: "\f276"; }
.ico-150:before { content: "\f2bf"; }
.ico-151:before { content: "\f277"; }
.ico-152:before { content: "\f131"; }
.ico-153:before { content: "\f132"; }
.ico-154:before { content: "\f133"; }
.ico-155:before { content: "\f306"; }
.ico-156:before { content: "\f278"; }
.ico-157:before { content: "\f134"; }
.ico-158:before { content: "\f135"; }
.ico-159:before { content: "\f319"; }
.ico-160:before { content: "\f279"; }
.ico-161:before { content: "\f31a"; }
.ico-162:before { content: "\f137"; }
.ico-163:before { content: "\f136"; }
.ico-164:before { content: "\f138"; }
.ico-165:before { content: "\f139"; }
.ico-166:before { content: "\f27a"; }
.ico-167:before { content: "\f2c0"; }
.ico-168:before { content: "\f13a"; }
.ico-169:before { content: "\f31b"; }
.ico-170:before { content: "\f13b"; }
.ico-171:before { content: "\f13c"; }
.ico-172:before { content: "\f13d"; }
.ico-173:before { content: "\f13e"; }
.ico-174:before { content: "\f13f"; }
.ico-175:before { content: "\f27b"; }
.ico-176:before { content: "\f31c"; }
.ico-177:before { content: "\f140"; }
.ico-178:before { content: "\f141"; }
.ico-179:before { content: "\f31d"; }
.ico-180:before { content: "\f143"; }
.ico-181:before { content: "\f27c"; }
.ico-182:before { content: "\f142"; }
.ico-183:before { content: "\f144"; }
.ico-184:before { content: "\f27d"; }
.ico-185:before { content: "\f146"; }
.ico-186:before { content: "\f145"; }
.ico-187:before { content: "\f147"; }
.ico-188:before { content: "\f148"; }
.ico-189:before { content: "\f14a"; }
.ico-190:before { content: "\f149"; }
.ico-191:before { content: "\f14b"; }
.ico-192:before { content: "\f14d"; }
.ico-193:before { content: "\f14c"; }
.ico-194:before { content: "\f14f"; }
.ico-195:before { content: "\f14e"; }
.ico-196:before { content: "\f31f"; }
.ico-197:before { content: "\f31e"; }
.ico-198:before { content: "\f321"; }
.ico-199:before { content: "\f320"; }
.ico-200:before { content: "\f150"; }
.ico-201:before { content: "\f151"; }
.ico-202:before { content: "\f152"; }
.ico-203:before { content: "\f153"; }
.ico-204:before { content: "\f154"; }
.ico-205:before { content: "\f27e"; }
.ico-206:before { content: "\f27f"; }
.ico-207:before { content: "\f280"; }
.ico-208:before { content: "\f281"; }
.ico-209:before { content: "\f155"; }
.ico-210:before { content: "\f157"; }
.ico-211:before { content: "\f156"; }
.ico-212:before { content: "\f323"; }
.ico-213:before { content: "\f322"; }
.ico-214:before { content: "\f325"; }
.ico-215:before { content: "\f324"; }
.ico-216:before { content: "\f327"; }
.ico-217:before { content: "\f326"; }
.ico-218:before { content: "\f159"; }
.ico-219:before { content: "\f158"; }
.ico-220:before { content: "\f15b"; }
.ico-221:before { content: "\f15a"; }
.ico-222:before { content: "\f15d"; }
.ico-223:before { content: "\f15c"; }
.ico-224:before { content: "\f15f"; }
.ico-225:before { content: "\f15e"; }
.ico-226:before { content: "\f283"; }
.ico-227:before { content: "\f282"; }
.ico-228:before { content: "\f161"; }
.ico-229:before { content: "\f160"; }
.ico-230:before { content: "\f285"; }
.ico-231:before { content: "\f284"; }
.ico-232:before { content: "\f163"; }
.ico-233:before { content: "\f162"; }
.ico-234:before { content: "\f165"; }
.ico-235:before { content: "\f164"; }
.ico-236:before { content: "\f167"; }
.ico-237:before { content: "\f166"; }
.ico-238:before { content: "\f169"; }
.ico-239:before { content: "\f168"; }
.ico-240:before { content: "\f16b"; }
.ico-241:before { content: "\f16a"; }
.ico-242:before { content: "\f16e"; }
.ico-243:before { content: "\f16c"; }
.ico-244:before { content: "\f16d"; }
.ico-245:before { content: "\f16f"; }
.ico-246:before { content: "\f170"; }
.ico-247:before { content: "\f172"; }
.ico-248:before { content: "\f171"; }
.ico-249:before { content: "\f2bc"; }
.ico-250:before { content: "\f2bd"; }
.ico-251:before { content: "\f2bb"; }
.ico-252:before { content: "\f178"; }
.ico-253:before { content: "\f174"; }
.ico-254:before { content: "\f173"; }
.ico-255:before { content: "\f175"; }
.ico-256:before { content: "\f177"; }
.ico-257:before { content: "\f176"; }
.ico-258:before { content: "\f17a"; }
.ico-259:before { content: "\f308"; }
.ico-260:before { content: "\f307"; }
.ico-261:before { content: "\f179"; }
.ico-262:before { content: "\f17c"; }
.ico-263:before { content: "\f17b"; }
.ico-264:before { content: "\f17e"; }
.ico-265:before { content: "\f17d"; }
.ico-266:before { content: "\f180"; }
.ico-267:before { content: "\f17f"; }
.ico-268:before { content: "\f182"; }
.ico-269:before { content: "\f181"; }
.ico-270:before { content: "\f184"; }
.ico-271:before { content: "\f183"; }
.ico-272:before { content: "\f185"; }
.ico-273:before { content: "\f187"; }
.ico-274:before { content: "\f186"; }
.ico-275:before { content: "\f30d"; }
.ico-276:before { content: "\f189"; }
.ico-277:before { content: "\f188"; }
.ico-278:before { content: "\f18b"; }
.ico-279:before { content: "\f18a"; }
.ico-280:before { content: "\f18d"; }
.ico-281:before { content: "\f18c"; }
.ico-282:before { content: "\f18f"; }
.ico-283:before { content: "\f18e"; }
.ico-284:before { content: "\f191"; }
.ico-285:before { content: "\f190"; }
.ico-286:before { content: "\f193"; }
.ico-287:before { content: "\f192"; }
.ico-288:before { content: "\f329"; }
.ico-289:before { content: "\f328"; }
.ico-290:before { content: "\f195"; }
.ico-291:before { content: "\f194"; }
.ico-292:before { content: "\f197"; }
.ico-293:before { content: "\f196"; }
.ico-294:before { content: "\f199"; }
.ico-295:before { content: "\f198"; }
.ico-296:before { content: "\f19c"; }
.ico-297:before { content: "\f19a"; }
.ico-298:before { content: "\f19b"; }
.ico-299:before { content: "\f32b"; }
.ico-300:before { content: "\f32a"; }
.ico-301:before { content: "\f19e"; }
.ico-302:before { content: "\f19d"; }
.ico-303:before { content: "\f1a1"; }
.ico-304:before { content: "\f19f"; }
.ico-305:before { content: "\f1a0"; }
.ico-306:before { content: "\f1a2"; }
.ico-307:before { content: "\f1a4"; }
.ico-308:before { content: "\f1a3"; }
.ico-309:before { content: "\f287"; }
.ico-310:before { content: "\f286"; }
.ico-311:before { content: "\f1a6"; }
.ico-312:before { content: "\f1a5"; }
.ico-313:before { content: "\f1a8"; }
.ico-314:before { content: "\f1a7"; }
.ico-315:before { content: "\f32d"; }
.ico-316:before { content: "\f32c"; }
.ico-317:before { content: "\f289"; }
.ico-318:before { content: "\f288"; }
.ico-319:before { content: "\f1ab"; }
.ico-320:before { content: "\f1a9"; }
.ico-321:before { content: "\f1aa"; }
.ico-322:before { content: "\f1ae"; }
.ico-323:before { content: "\f1ac"; }
.ico-324:before { content: "\f1ad"; }
.ico-325:before { content: "\f1b0"; }
.ico-326:before { content: "\f1af"; }
.ico-327:before { content: "\f1b2"; }
.ico-328:before { content: "\f1b1"; }
.ico-329:before { content: "\f1b4"; }
.ico-330:before { content: "\f1b3"; }
.ico-331:before { content: "\f1b5"; }
.ico-332:before { content: "\f1b6"; }
.ico-333:before { content: "\f1b8"; }
.ico-334:before { content: "\f1b7"; }
.ico-335:before { content: "\f32f"; }
.ico-336:before { content: "\f32e"; }
.ico-337:before { content: "\f1ba"; }
.ico-338:before { content: "\f1b9"; }
.ico-339:before { content: "\f1bc"; }
.ico-340:before { content: "\f1bb"; }
.ico-341:before { content: "\f1be"; }
.ico-342:before { content: "\f1bd"; }
.ico-343:before { content: "\f331"; }
.ico-344:before { content: "\f330"; }
.ico-345:before { content: "\f1c0"; }
.ico-346:before { content: "\f1bf"; }
.ico-347:before { content: "\f1c2"; }
.ico-348:before { content: "\f1c1"; }
.ico-349:before { content: "\f1c4"; }
.ico-350:before { content: "\f1c3"; }
.ico-351:before { content: "\f1c6"; }
.ico-352:before { content: "\f1c5"; }
.ico-353:before { content: "\f28b"; }
.ico-354:before { content: "\f28a"; }
.ico-355:before { content: "\f1c8"; }
.ico-356:before { content: "\f1c7"; }
.ico-357:before { content: "\f1cb"; }
.ico-358:before { content: "\f1c9"; }
.ico-359:before { content: "\f1ca"; }
.ico-360:before { content: "\f28d"; }
.ico-361:before { content: "\f28c"; }
.ico-362:before { content: "\f333"; }
.ico-363:before { content: "\f332"; }
.ico-364:before { content: "\f1cd"; }
.ico-365:before { content: "\f1cc"; }
.ico-366:before { content: "\f335"; }
.ico-367:before { content: "\f334"; }
.ico-368:before { content: "\f1cf"; }
.ico-369:before { content: "\f1ce"; }
.ico-370:before { content: "\f1d1"; }
.ico-371:before { content: "\f1d0"; }
.ico-372:before { content: "\f1d3"; }
.ico-373:before { content: "\f1d2"; }
.ico-374:before { content: "\f1d6"; }
.ico-375:before { content: "\f1d4"; }
.ico-376:before { content: "\f1d5"; }
.ico-377:before { content: "\f28e"; }
.ico-378:before { content: "\f337"; }
.ico-379:before { content: "\f336"; }
.ico-380:before { content: "\f1d8"; }
.ico-381:before { content: "\f1d7"; }
.ico-382:before { content: "\f1da"; }
.ico-383:before { content: "\f1d9"; }
.ico-384:before { content: "\f339"; }
.ico-385:before { content: "\f338"; }
.ico-386:before { content: "\f30e"; }
.ico-387:before { content: "\f1dc"; }
.ico-388:before { content: "\f1db"; }
.ico-389:before { content: "\f1de"; }
.ico-390:before { content: "\f1dd"; }
.ico-391:before { content: "\f309"; }
.ico-392:before { content: "\f290"; }
.ico-393:before { content: "\f28f"; }
.ico-394:before { content: "\f1e0"; }
.ico-395:before { content: "\f33a"; }
.ico-396:before { content: "\f1df"; }
.ico-397:before { content: "\f1e2"; }
.ico-398:before { content: "\f1e1"; }
.ico-399:before { content: "\f1e4"; }
.ico-400:before { content: "\f1e3"; }
.ico-401:before { content: "\f1e6"; }
.ico-402:before { content: "\f1e5"; }
.ico-403:before { content: "\f33c"; }
.ico-404:before { content: "\f33b"; }
.ico-405:before { content: "\f1e8"; }
.ico-406:before { content: "\f1e7"; }
.ico-407:before { content: "\f292"; }
.ico-408:before { content: "\f291"; }
.ico-409:before { content: "\f1ea"; }
.ico-410:before { content: "\f1e9"; }
.ico-411:before { content: "\f33e"; }
.ico-412:before { content: "\f33d"; }
.ico-413:before { content: "\f1ec"; }
.ico-414:before { content: "\f1eb"; }
.ico-415:before { content: "\f1ee"; }
.ico-416:before { content: "\f1ed"; }
.ico-417:before { content: "\f1f0"; }
.ico-418:before { content: "\f1ef"; }
.ico-419:before { content: "\f1f2"; }
.ico-420:before { content: "\f1f1"; }
.ico-421:before { content: "\f1f4"; }
.ico-422:before { content: "\f1f3"; }
.ico-423:before { content: "\f1f5"; }
.ico-424:before { content: "\f1f6"; }
.ico-425:before { content: "\f294"; }
.ico-426:before { content: "\f293"; }
.ico-427:before { content: "\f1f8"; }
.ico-428:before { content: "\f1f7"; }
.ico-429:before { content: "\f1f9"; }
.ico-430:before { content: "\f1fa"; }
.ico-431:before { content: "\f1fb"; }
.ico-432:before { content: "\f295"; }
.ico-433:before { content: "\f296"; }
.ico-434:before { content: "\f297"; }
.ico-435:before { content: "\f1fc"; }
.ico-436:before { content: "\f1fd"; }
.ico-437:before { content: "\f298"; }
.ico-438:before { content: "\f299"; }
.ico-439:before { content: "\f1fe"; }
.ico-440:before { content: "\f29a"; }
.ico-441:before { content: "\f29b"; }
.ico-442:before { content: "\f29c"; }
.ico-443:before { content: "\f29d"; }
.ico-444:before { content: "\f1ff"; }
.ico-445:before { content: "\f200"; }
.ico-446:before { content: "\f29e"; }
.ico-447:before { content: "\f29f"; }
.ico-448:before { content: "\f201"; }
.ico-449:before { content: "\f2a0"; }
.ico-450:before { content: "\f2a1"; }
.ico-451:before { content: "\f202"; }
.ico-452:before { content: "\f203"; }
.ico-453:before { content: "\f2a2"; }
.ico-454:before { content: "\f33f"; }
.ico-455:before { content: "\f204"; }
.ico-456:before { content: "\f205"; }
.ico-457:before { content: "\f206"; }
.ico-458:before { content: "\f209"; }
.ico-459:before { content: "\f207"; }
.ico-460:before { content: "\f208"; }
.ico-461:before { content: "\f2c1"; }
.ico-462:before { content: "\f20a"; }
.ico-463:before { content: "\f20b"; }
.ico-464:before { content: "\f340"; }
.ico-465:before { content: "\f20c"; }
.ico-466:before { content: "\f20e"; }
.ico-467:before { content: "\f20d"; }
.ico-468:before { content: "\f2a3"; }
.ico-469:before { content: "\f341"; }
.ico-470:before { content: "\f2c2"; }
.ico-471:before { content: "\f2a4"; }
.ico-472:before { content: "\f342"; }
.ico-473:before { content: "\f2c3"; }
.ico-474:before { content: "\f20f"; }
.ico-475:before { content: "\f210"; }
.ico-476:before { content: "\f213"; }
.ico-477:before { content: "\f211"; }
.ico-478:before { content: "\f212"; }
.ico-479:before { content: "\f2a5"; }
.ico-480:before { content: "\f2a6"; }
.ico-481:before { content: "\f2a7"; }
.ico-482:before { content: "\f2a8"; }
.ico-483:before { content: "\f214"; }
.ico-484:before { content: "\f343"; }
.ico-485:before { content: "\f215"; }
.ico-486:before { content: "\f30a"; }
.ico-487:before { content: "\f218"; }
.ico-488:before { content: "\f216"; }
.ico-489:before { content: "\f217"; }
.ico-490:before { content: "\f344"; }
.ico-491:before { content: "\f219"; }
.ico-492:before { content: "\f2a9"; }
.ico-493:before { content: "\f2aa"; }
.ico-494:before { content: "\f2ab"; }
.ico-495:before { content: "\f21a"; }
.ico-496:before { content: "\f345"; }
.ico-497:before { content: "\f346"; }
.ico-498:before { content: "\f347"; }
.ico-499:before { content: "\f2ac"; }
.ico-500:before { content: "\f21b"; }
.ico-501:before { content: "\f21c"; }
.ico-502:before { content: "\f21e"; }
.ico-503:before { content: "\f21d"; }
.ico-504:before { content: "\f348"; }
.ico-505:before { content: "\f349"; }
.ico-506:before { content: "\f34a"; }
.ico-507:before { content: "\f34b"; }
.ico-508:before { content: "\f21f"; }
.ico-509:before { content: "\f2ad"; }
.ico-510:before { content: "\f220"; }
.ico-511:before { content: "\f221"; }
.ico-512:before { content: "\f222"; }
.ico-513:before { content: "\f223"; }
.ico-514:before { content: "\f225"; }
.ico-515:before { content: "\f224"; }
.ico-516:before { content: "\f227"; }
.ico-517:before { content: "\f226"; }
.ico-518:before { content: "\f2af"; }
.ico-519:before { content: "\f2ae"; }
.ico-520:before { content: "\f229"; }
.ico-521:before { content: "\f228"; }
.ico-522:before { content: "\f22b"; }
.ico-523:before { content: "\f22a"; }
.ico-524:before { content: "\f22d"; }
.ico-525:before { content: "\f22c"; }
.ico-526:before { content: "\f22f"; }
.ico-527:before { content: "\f22e"; }
.ico-528:before { content: "\f231"; }
.ico-529:before { content: "\f230"; }
.ico-530:before { content: "\f34d"; }
.ico-531:before { content: "\f34c"; }
.ico-532:before { content: "\f2c4"; }
.ico-533:before { content: "\f233"; }
.ico-534:before { content: "\f232"; }
.ico-535:before { content: "\f34f"; }
.ico-536:before { content: "\f34e"; }
.ico-537:before { content: "\f235"; }
.ico-538:before { content: "\f234"; }
.ico-539:before { content: "\f237"; }
.ico-540:before { content: "\f236"; }
.ico-541:before { content: "\f351"; }
.ico-542:before { content: "\f350"; }
.ico-543:before { content: "\f239"; }
.ico-544:before { content: "\f238"; }
.ico-545:before { content: "\f2b1"; }
.ico-546:before { content: "\f2b0"; }
.ico-547:before { content: "\f23b"; }
.ico-548:before { content: "\f23a"; }
.ico-549:before { content: "\f23d"; }
.ico-550:before { content: "\f23c"; }
.ico-551:before { content: "\f23f"; }
.ico-552:before { content: "\f23e"; }
.ico-553:before { content: "\f241"; }
.ico-554:before { content: "\f240"; }
.ico-555:before { content: "\f2c5"; }
.ico-556:before { content: "\f243"; }
.ico-557:before { content: "\f242"; }
.ico-558:before { content: "\f353"; }
.ico-559:before { content: "\f352"; }
.ico-560:before { content: "\f245"; }
.ico-561:before { content: "\f244"; }
.ico-562:before { content: "\f247"; }
.ico-563:before { content: "\f246"; }
.ico-564:before { content: "\f249"; }
.ico-565:before { content: "\f248"; }
.ico-566:before { content: "\f24b"; }
.ico-567:before { content: "\f24a"; }
.ico-568:before { content: "\f24d"; }
.ico-569:before { content: "\f24c"; }
.ico-570:before { content: "\f2b2"; }
.ico-571:before { content: "\f2b3"; }
.ico-572:before { content: "\f2b4"; }
.ico-573:before { content: "\f24e"; }
.ico-574:before { content: "\f2b5"; }
.ico-575:before { content: "\f30b"; }
.ico-576:before { content: "\f24f"; }
.ico-577:before { content: "\f2b6"; }
.ico-578:before { content: "\f250"; }
.ico-579:before { content: "\f251"; }
.ico-580:before { content: "\f355"; }
.ico-581:before { content: "\f354"; }
.ico-582:before { content: "\f252"; }
.ico-583:before { content: "\f253"; }
.ico-584:before { content: "\f356"; }
.ico-585:before { content: "\f2b7"; }
.ico-586:before { content: "\f357"; }
.ico-587:before { content: "\f254"; }
.ico-588:before { content: "\f255"; }
.ico-589:before { content: "\f2b8"; }
.ico-590:before { content: "\f256"; }
.ico-591:before { content: "\f257"; }
.ico-592:before { content: "\f258"; }
.ico-593:before { content: "\f259"; }
.ico-594:before { content: "\f25a"; }
.ico-595:before { content: "\f358"; }
.ico-596:before { content: "\f25b"; }
.ico-597:before { content: "\f25c"; }
.ico-598:before { content: "\f2b9"; }
.ico-599:before { content: "\f25d"; }
.ico-600:before { content: "\f2ba"; }
.ico-601:before { content: "\f30c"; }

.layout-style .tt_option_title ~ label {
	display: inline-block;
	width: 140px;
	height: 110px;
	background: #ffffff;
	margin: 31px;
	border: solid 1px #dcdcdc;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: inset 0 20px 0 #eeeeee, inset 0 40px 0 #f8f8f8, inset 0 60px 0 #eeeeee, inset 0 80px 0 #f8f8f8, inset 0 100px 0 #eeeeee;
	box-shadow: inset 0 20px 0 #eeeeee, inset 0 40px 0 #f8f8f8, inset 0 60px 0 #eeeeee, inset 0 80px 0 #f8f8f8, inset 0 100px 0 #eeeeee;
}

.layout-style .tt_option_title ~ label > span {
	position: absolute;
	bottom: 0px;
	background: #25282F;
	display: block;
	color: #C0B26E;
	left: 0px;
	right: 0px;
	text-align: center;
	line-height: 24px;
	z-index: 1000;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.layout-style .tt_option_title ~ label > input {
	display: none;
}

.layout-style .tt_option_title ~ label > input:checked + span {
	top: 1px;
	background: rgba(149,66,58, 0.3);
	border: solid 1px #95372B;
	color: #95372B;
	line-height: 800%
}

.layout-style .tt_option_title + label + label:after,
.layout-style .tt_option_title + label + label:before {
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 20%;
	background: #adadad;
}

.layout-style .tt_option_title + label + label:before {
	left: 0px;
	border-right: 1px solid #666666;
}

.layout-style .tt_option_title + label + label:after {
	right: 0px;
	border-left: 1px solid #666666;
}

.tt_content_box,
.tt_admin .tt_content .tt_content_box .tt_content_box_content .tt_option_title span {
	background: #fefefe !important;
}

.tt_admin .tt_content .tt_content_box .tt_content_box_content .tt_option_title {
	line-height: 2px !important;
}

.tt_box {
	padding: 12px 0 !important;
}

.tt_explain {
	background: #f4fff2;
	padding: 11px 11px 11px 42px;
	border: 1px solid #dcebd9;
	border-left: 3px solid #707B5B;
}

.tt_box_full {
	width: 98%;
}

.tt_show_logo {
	height: 112px;
	position: relative;
}

.tt_admin .tt_button {
	margin-bottom: 32px !important;
}

.tt_show_logo > img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.wp-picker-container {
	position: relative;
	padding: 10px 0;
}

.wp-picker-input-wrap {
	position: absolute;
	width: auto !important;
}

.tt_admin .wp-picker-holder {
	top: 46px;
}

.wp-picker-container input[type=text].wp-color-picker {
	padding: 3px 2% !important;
	
}

.wp-picker-container input[type=text].wp-color-picker + input {
	position: absolute;
	top: 0;
	right: -50%;
}

.identity-helper {
	background: red;
}

.tt_content_box input[type=email],
.tt_content_box input[type=number],
.tt_content_box input[type=password],
.tt_content_box input[type=search],
.tt_content_box input[type=tel],
.tt_content_box input[type=text],
.tt_content_box input[type=url],
.tt_content_box select,
.tt_content_box textarea {
	box-shadow: none !important;
}

.tt_admin .tt_content .tt_content_box .tt_content_box_content .tt_option_title {
	margin-bottom: 22px !important;
}

.tt_admin .tt_content .tt_content_box .tt_content_box_title {
	background: none !important;
	border-bottom: none !important;

}

.tt_admin .tt_content .tt_content_box .tt_content_box_bottom {
	background: none !important;
}

.tt_admin .tt_content .tt_submit {
	background: #2655A1 !important;
	box-shadow: none !important;
	padding: 8px 15px 10px !important;
}

.mini-input {
	width: 24% !important;
}

.tt_box_mini {
	width: 22% !important;
	padding: 12px 1% !important;
}

.identity-helper .remove_img {
	margin-bottom: 72px !important
}

.icons-container {
	max-height: 144px;
	overflow-y: scroll;
}

.icon-grid {
	overflow: hidden;
}

.icon-grid > li {
	width: 5%;
	float: left;
	text-align: center;
	font-size: 1.5em;
	padding: 1px;
	line-height: 1em;
	-webki-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	box-sizing: border-box;	
}

.icon-grid > li input[type=radio] {
	display: none;
}

.icon-grid > li i {
	padding: 3px;
	display: block;
	border: 1px solid #ededed;
}

.icon-grid > li input[type=radio]:checked + i {
	border-color: #2EA2CC;
	color:  #2EA2CC !important;
	background: #f8f8f8;
}

#slide_options .inside > fieldset,
#slide_options .tesla-option-container {
	background: none !important;
}

#slide_options fieldset>select, #slide_options .tesla-option-container>select:not([name]) {
	background: #f8f8f8 !important;
	border-color: #eeeeee !important;
	border-radius: 0 !important;
	color: #333333 !important;
}

.electra_widget_ads img {
	max-width: 100%;
	height: auto;
}

.electra_widget_template {
	display: none;
}

.font-3x {
	font-size: 3em;
}

.form-table td.at-field {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

#hotelia_room_price {
  width: 100px;
}