/*
Theme Name: Hotelia Child Theme
Author: quangnn203
Template: hotelia
Text Domain: hotelia
*/
body.single-post .text-dark-blue.text-center.fancy-heading,
body.single-post p.text-center.text-aquablue,
body.single-post #review-slider,
.rooms-description > p
{ display:none !important;}
footer .wpcf7-form > p{margin-bottom: 3px;}
footer .wpcf7-form > p > label{padding: 0px;margin: 0px;font-size:13px;}
footer .wpcf7-form > p > label textarea{min-height:70px;}

.wpcf7-form > p input[type="submit"]{    width: 100px;
    float: right;
    background: #e9a365;
    color: white;
    font-weight: bold;}
.blog-content div{max-width: 100%;}
li > div.text-center > figure > a > img{width: auto; height: 300px;}
.rooms-items > li.has-post-thumbnail{min-height:517px}